/* .hidden {
  filter: blur(5px);
  transform: translate(-100%);
  transition: all 1s;
} */

/* @media (prefers-reduced-motion) {
  .hidden {
    transistion: none;
  }
} */

/* .show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
} */
