.searchbox {
  padding: 2rem 0rem 2rem 0rem;
}
.searchbox1 input {
  margin: 2rem;
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 4px 10px 3px #807e7e;
}
.searchbox1 input:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.typesearch {
  padding: 2rem 2rems 2rem 2rem;
}
.searchbtn {
  padding-left: 2rem;
}

.dataph {
  padding: 0rem 20rem 4rem 20rem;
  background-color: #282828;
  color: aliceblue;
}
/* the adjusment */
@media (max-width: 768px) {
  /* CSS in here for mobile only */
  .dataph {
    padding: 1rem 2rem 2rem 2rem;
    background-color: #282828;
    color: aliceblue;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  /* CSS in here for tablet only */
  .dataph {
    padding: 1rem 10rem 4rem 10rem;
    background-color: #282828;
    color: aliceblue;
  }
}

/* that tabel design one making it scroll for the mobile view */

/* table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table tbody {
  display: table;
  width: 100%;
} */

/* table {
  width: 100%;
  border-collapse: collapse;
} */

/* td {
  border: 1px solid black;
} */

/* try removing the "hack" below to see how the table overflows the .body */
/* .hack1 {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.hack2 {
  display: table-cell;
  overflow-x: auto;
  width: 100%;
} */
/* .table {
  table-layout: fixed;

  display: block;
  overflow-x: auto;
  white-space: nowrap;
} */


 table {
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
}
.table-header{
  /* display: block; */
  overflow-x: scroll;
  white-space: nowrap;
}
.table-content{
  /* display:; */
  overflow-x: scroll;
  white-space: nowrap;
}